<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HalGpt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="HalGpt.LogicAI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HalGpt.Properties.Settings>
            <setting name="WindowTop" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="SpeechEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </HalGpt.Properties.Settings>
        <HalGpt.LogicAI.Properties.Settings>
            <setting name="WindowTop" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="SpeechEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConversationWindowTop" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ConversationWindowLeft" serializeAs="String">
                <value>-1</value>
            </setting>
        </HalGpt.LogicAI.Properties.Settings>
    </userSettings>
    <appSettings>
        <add key="ApiKey" value="ENTER YOUR OPENAI KEY HERE" />
        <add key="SystemMessage" value="You are a helpful assistant called HAL GPT." />
        <add key="WelcomeRequest" value="Start by greeting me. If it is my birthday, congratulate me." />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>